/* ====== HEADER ====== */
.header-logo {
}

.accent {
}

.header-nav {
}

.list-item {
}

.header-item {
}

.header-contacts {
}

.contacts-item {
}

/* ====== EFFECTIVE SOLUTION ====== */
.ef-sol-title {
}

.ef-sol-btn {
}
/* ====== OUR FUTURES ====== */
.section-title {
}

.list-item {
}

.section-item {
}

.section-subtitle {
}

.capcion-text {
}

/* ====== OUR TEAM ====== */
.section-title {
}

.list-item {
}

.section-item {
}

.team-img {
}

.section-subtitle {
}

.capcion-text {
}

/* ====== OUR FUTURES ====== */
.footer {
}
